{"filter":false,"title":"requirements.txt","tooltip":"/energy_ai/src/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":14},"end":{"row":0,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1716091481683,"hash":"a86c4780c33e78aa4c8bd378e3159293a2f22d14"}